<div class="banner-container">
    <img class="banner-img" src="/statics/assets/banner.jpg" alt="yerba mate">
</div>
<div class="index-container">
    {{!-- <div class="welcome-box z-depth-2">
        <div class="info-section">
            <h3 class="welcome-title">Welcome {{user.firstName}} {{user.lastName}} <span class="user-role">({{user.role}})</span></h3>
            <p class="user-email">{{user.email}}</p>
            {{#if user.age}}
                <p class="user-age">{{user.age}} years old</p>
            {{/if}}
            {{#if user.githubLogin}}
                <p class="github-user-tag">(Registered with Github)</p>
            {{/if}}
        </div>
        {{#if user.profilePic}}
            <div class="pic-section">
                <div class="profile-pic-container">
                    <img src="../../statics/profiles/{{user.profilePic.originalName}}" alt="">
                </div>
            </div>
        {{/if}}
    </div> --}}
    <div class="filter-container">
        <button class="filter-btn" onclick="filterResults(event, null)">Todo</button>
        <button class="filter-btn" onclick="filterResults(event, 'mate')">Mates</button>
        <button class="filter-btn" onclick="filterResults(event, 'termo')">Termos</button>
        <button class="filter-btn" onclick="filterResults(event, 'bombilla')">Bombillas</button>
    </div>
    <div id="product-list-container">
        {{#each products.docs}}
            <a class="product-item" id={{id}} onclick="seeProduct(event, `{{id}}`)">
                <p id="item-title">{{title}}</p>
                {{#if thumbnails}}
                    <div class="thumbnail-container">
                        <img src="../../statics/products/{{thumbnails.[0].originalName}}" alt="">
                    </div>
                    {{else}}
                        <p id="no-image">no image</p>
                {{/if}}
                <p class="price-tag">${{price}}</p>
                <p class="item-description">{{description}}</p>
            </a>
        {{/each}}
    </div>
    <div class="pag-btn-container">
        {{#if products.hasPrevPage}}
            <a href={{products.prevLink}} class="pagLink">Anterior</a>
            {{else}}
            <p class="pagLink disabled" disabled>Anterior</p>
        {{/if}}
        {{#if products.hasNextPage}}
            <a href={{products.nextLink}} class="pagLink">Siguiente</a>
            {{else}}
            <p class="pagLink disabled" disabled>Siguiente</p>
        {{/if}}
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/statics/js/index.js"></script>