<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/statics/css/{{styles}}">
    <link rel="stylesheet" href="/statics/css/main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/statics/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/statics/icon/favicon-16x16.png">
    <title>{{title}}</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <a href="/" class="home-link">
                <img src="/statics/assets/icon.png" alt="mate icon" class="icon">
                <h2  class="brand-logo">Matete</h2>
            </a>
            <ul id="nav-mobile" class="btn-list">
                <li><a href="/products" class="nav-btn">Inicio</a></li>
                {{!-- <li><a href="/chat">Chat</a></li> --}}
                {{#if user}}
                    {{#if admin}}
                        <li>
                            <a href="/users" class="nav-btn">Ver usuarios</a>
                        </li>
                        {{else}}
                            <li>
                                <a class="nav-btn" onclick="seeProfile(`{{user.id}}`)">Ver Perfil</a>
                            </li>
                    {{/if}}
                    {{#if premium}}
                        <li>
                            <a href="/newproduct" class="nav-btn">Nuevo producto</a>
                        </li>
                    {{/if}}
                    {{#if admin}}
                        <li>
                            <a href="/newproduct" class="nav-btn">Nuevo producto</a>
                        </li>
                    {{/if}}
                    {{#if cart.products.length}}
                        <li>
                            <a class="nav-btn" onclick="seeCart(event, `{{user.cart}}`)">Carrito ({{cart.products.length}})</a>
                        </li>
                    {{/if}}
                    <li>
                        <button id="logout-button" class="nav-btn">Salir</button>
                    </li>
                {{/if}}
            </ul>
        </div>
    </nav>
    {{{body}}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/statics/js/main.js"></script>
</body>
</html>